# Binaries
**/bin/
bin-int/
Intermediates/

# Nebula files
log/
*.log

# Visual Studio files and folder
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.vcxproj.user

# Linux-specific files
*.o
*.so
*.a
*.out

# Temporary files
*~
*.tmp
*.temp

# Backup files
*.bak
*.swp

# Makefiles
Makefile
makefile
